.HomeTitle {
    margin-top: 200px;
    font-size: 36px;
  }
  
  .HomeQuestion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    font-size: 40px;
    text-align: center;
    margin: 30px 0 30px 200px;   
    background-color: transparent;
    white-space: nowrap;
 
  }
  
  .NameInput {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin-left: 10px;
    padding: 8px;
  }
  
  .NameInput::placeholder {
    color: #fff;
    opacity: 0.6;
  }
  
  .HomeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .HomeButton:hover {
    background-color: #0056b3;
  }

  
  @media screen and (max-width: 768px) {
    .HomeTitle {
      margin-top:100px;
      font-size: 28px;
    }
  
    .HomeQuestion {
      font-size: 30px;
     margin:0;
    }
  
    .NameInput {
      font-size: 24px;
    }

    .NameInput::placeholder {
     text-align: center;

    }
  
    .HomeButton {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .HomeTitle {
      margin-top: 60px;
      font-size: 24px;
    }
  
    .HomeQuestion {
      font-size: 24px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .NameInput {
      font-size: 20px;
    }
  
    .HomeButton {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  